[submodule "docs/keyestudio/Arduino-Board"]
	path = docs/keyestudio/Arduino-Board
	url = https://github.com/keyestudio/Arduino-Board.git
[submodule "docs/keyestudio/Arduino-Shield"]
	path = docs/keyestudio/Arduino-Shield
	url = https://github.com/keyestudio/Arduino-Shield.git



